<center>
<h2>Daily log</h2>
<%= link_to 'New Post', new_post_path, class: "btn btn-default" %>

<div class="posts-wrapper row">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-head">
        <div class="name">
          <%= post.user.name %>
        </div>
      </div>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
      </div>
      <p class="content">
        <%= post.content %>
      </p>
      <p style='text-align:right;'>
      created by <%= post.user.name %>, <%= time_ago_in_words(post.created_at) %> ago
    </p>
    </div>
  <% end %>
</div>




